<<<<<<< HEAD
*{
    box-sizing: border-box;
}
@font-face {
    font-family: "sharp";
    src: url(../@font-face);
}
body{
    margin: 0%;
}
.d-flex{
    background-color: #e5fae9;
    
}
.nav-link, .dropdown-toggle{
    color: #819685;
}
.nav-link:hover{
    color: black !important;
}
.nav-link{
padding: 0;
}
.footer{
    background-color:#6c757e ;
    padding-left: 10%;
    padding-right: 10%;
}
.navf-link{
    color: #dde5ea;
=======
.gris {
    background-color: #f5f9fc;
}
.verde {
    background-color: #28a745;
}
.verdetabla{
    background-color: #cfe8cf;
>>>>>>> reptiles
}